@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: 1s ease-out;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3b3b328; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #88888850; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55555571; 
}